@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    font-family: var(--font-family);
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
textarea,
select {
    font-family: var(--font-family);
}

:root {
    --font-family: 'IBM Plex Sans', sans-serif;
    --primary-color: #fe2c55;

    --black: #000;
    --white: #fff;
    --text-primary: #0f1419;
    --text-secondary: #626d76;
    --text-on-dark: #ffffff;
    --text-color: #333;

    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bg-on-dark: #0f1419;

    // default Layout
    --default-layout-width: 1150px;
    --default-layout-header-height: 60px;
    --default-layout-sidebar-width: 356px;

    --search-height: 46px;
    --search-border-radius: 92px;
}

// Dark mode
[data-theme='dark'] {
    --text-primary: #ffffff;
    --text-secondary: #858f98;
    --text-on-dark: #ffffff;

    --bg-primary: #0f1419;
    --bg-secondary: #1a1f26;
    --bg-on-dark: #0f1419;
}

button,
input,
[tabindex],
a {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}
