@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

//Fonts

@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'TikTokFont';
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'TikTokDisplayFont';
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    font-family: 'TikTokFont', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
textarea,
select {
    font-family: var(--font-family);
}

:root {
    --font-family: 'IBM Plex Sans', sans-serif;
    --primary-color: #fe2c55;

    --black: #000;
    --white: #fff;
    --text-primary: #0f1419;
    --text-secondary: #626d76;
    --text-on-dark: #ffffff;
    --text-color: #161823;

    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bg-on-dark: #0f1419;

    // default Layout
    --default-layout-width: 1150px;
    --default-layout-header-height: 60px;
    --default-layout-sidebar-width: 356px;
    --default-layout-horizontal-spacing: 24px;

    --search-height: 46px;
    --search-border-radius: 92px;
}

// Dark mode
[data-theme='dark'] {
    --text-primary: #ffffff;
    --text-secondary: #858f98;
    --text-on-dark: #ffffff;

    --bg-primary: #0f1419;
    --bg-secondary: #1a1f26;
    --bg-on-dark: #0f1419;
}

button,
input,
[tabindex],
a {
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

//Custom tippy

body {
    .tippy-box {
        padding: 8px;
        background-color: rgba(84, 84, 84, 0.92);
        // color: #fff;
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        // border-color: rgba(255, 255, 255, 0.5);
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }

    .tippy-content {
        padding: 2px;
    }
}
