//MenuItems
.menu {
    width: 224px;
    // line-height: 2.2rem;

    .menu-item {
        width: 100%;
        justify-content: flex-start;
        margin-left: 0;
        border-radius: 0;
        font-weight: 500;
        padding: 10px 16px;
        line-height: 2.2rem;

        &:hover {
            background-color: rgba(22, 24, 25, 0.03);
        }
    }
}

.menu-items {
    padding-bottom: 8px;
}

//Header

.header {
    // display: flex;
    // align-items: center;
    // justify-content: space-around;
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    // position: absolute;
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 1.6rem;
    font-weight: 600;
    color: #0f1419;
}

.separate {
    border-top: 1px solid rgba(22, 24, 25, 0.12);
}
