.wrapper {
    width: 100%;
    height: var(--default-layout-header-height);
    --search-width: 361px;
    --search-height: 46px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 1px rgba(0 0 0 / 0.12);
    --search-top-space: 9px;
    --search-right-space: 52px;
    --search-button-width: 52px;
}

.inner {
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacing);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.link {
    display: flex;
    align-items: center;
}

.link strong {
    font-size: 3rem;
    position: absolute;
    right: -10px;
}

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    padding: 4px 8px;
    margin-left: 28px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
        background-color: rgba(22, 24, 35, 0.08);
    }
}

.custom-btn {
    font-size: 1.6rem;
    border-color: transparent;
}

//Action
.actions {
    display: flex;
    align-items: center;
}
.action-btn {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.08);
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 0;
    right: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    min-height: 20px;
    // padding: 0 6px;
    background-color: #fa3434;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 20px;
}
